/elm-stuff/build-artifacts/*
/elm-stuff/generated-code/*
/elm-stuff/packages/*
/out/*
/tests/elm-stuff/build-artifacts/*
/tests/elm-stuff/packages/*

/index.html
/remember/Main.js
/remember/comments.txt
/remember/php_errorlog
/wtmdapp/LatestFive.json

*.stackdump
