# Copyright (C) 2017 Mark D. Blackwell.
#   All rights reserved.
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

# 10-26-17 Mark Blackwell - Within .htaccess, mod_rewrite requires FollowSymLinks.
# See:
#   https://httpd.apache.org/docs/2.4/mod/mod_rewrite.html#rewriterule
#   https://httpd.apache.org/docs/2.4/mod/core.html#options
Options +FollowSymLinks

# 09-16-17 Mark Blackwell - On requests for append.json, invoke PHP.
# This eases development by allowing access through the local filesystem.
<IfModule mod_rewrite.c>
    RewriteRule "^append\.json$" "append.php" [QSA]
</IfModule>

## 11-03-17 Mark Blackwell - The fact that Windows XP lacks TLS 1.1 (and 1.2)
##   doesn't affect Remember Songs, because Windows XP
##   also lacks Internet Explorer 10.
## See:
##   https://blogs.msdn.microsoft.com/kaushal/2011/10/02/support-for-ssltls-protocols-on-windows/

# 11-03-17 Mark D. Blackwell - Enable downloading of QPlaylist's precompressed
#   JSON file which contains the latest few songs.
<IfModule mod_rewrite.c>
    <IfModule mod_headers.c>
        <FilesMatch "^LatestFew\.json\.gz$">
            # Serve correct encoding type.
            Header append Content-Encoding gzip

            # Force proxies to cache gzipped &
            # non-gzipped QPlaylist files separately.
            Header append Vary Accept-Encoding
        </FilesMatch>

        # If the client accepts gzip
        # and the requested gzip-compressed QPlaylist file exists...
        RewriteCond "%{HTTP:Accept-encoding}" gzip
        RewriteCond "%{REQUEST_FILENAME}.gz" -s
        # Append ".gz".
        RewriteRule "^LatestFew\.json$" "LatestFew.json.gz" [QSA]
        # Serve the correct media type, and prevent mod_deflate double gzip.
        RewriteRule "^LatestFew\.json\.gz$" "-" [T=application/json,E=no-gzip:1]
    </IfModule>
</IfModule>
